<form class="form-horizontal" fn="login" on="submit">
    <h2 id="title">STORAGE MANAGER</h2>
    <br>
    <div class="control-group">
        <div class="controls">
            <input id="username" type="text" placeholder="username" autofocus="true"/>
        </div>
    </div>
    <br>
    <div class="control-group">
        <div class="controls">
            <input id="password" type="text" placeholder="password"/>
        </div>
    </div>
    <br>
    <LinkTo @route="dashboard">LOGIN</LinkTo>
    {{!--<button type="submit" class="btn">LOGIN</button>--}}
</form>