<div class="theme-dark">
    <header class="clearfix">
        <div class="row align-items-center">
            <div class="col-6">
                <img src="assets/images/logo.png" width="60" height="60" alt="storage master">
            </div>
            <div class="col-6">
                <span class="header-buttons justify-content-end">
                    <button {{on "click" (fn this.clickLogout)}} class="btn btn-primary btn-small btn-text theme-light">LOGOUT</button>
                </span>
            </div>
        </div>
    </header>
</div>